# Stuff shipped in tarballs
/html/
/html-stamp
/man1/
/man3/
/man7/
/man-stamp
# Other popular build targets
/maintable-US.pdf
/maintable-A4.pdf
/maintable.html
/maintable.txt
# GENERATED_SGML
/features-supported.sgml
/features-unsupported.sgml
/errcodes-table.sgml
/keywords-table.sgml
/targets-meson.sgml
/version.sgml
/wait_event_types.sgml
# Assorted byproducts from building the above
/maintable-full.xml
/maintable-US.fo
/maintable-A4.fo
